$color-primary: red;
$color-tertiary: green;
$color-secondary: blue;

.exercise{
    
    border: 1px solid $color-primary;
    .exercise-title{
        color: $color-tertiary;
        text-decoration: underline $color-secondary;
        text-align: center;
    }
    .exe-paragraph{
        display: flex;
        padding: 20px;
        text-align: center;

        article{
            border: 1px solid $color-tertiary; 
            padding: 10px; 
            font-size: 15px;

            .item1{
                color: $color-secondary;
            }

            .item2{
                color: $color-primary;
            }

        }
    }
}
